<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Accueil</title>
  </head>
  <body>
    <h1>Bienvenue, <%= user.name %> !</h1>
    <p>Âge : <%= user.age %> ans</p>
  </body>
</html>
